// USE THIS FILE TO CREATE THE LAYOUT AND SPECIFIC RULES FOR SCREENSHOTS 1 and 2
@font-face {
    font-family: "Open_Sans";
    src: url(../fonts/static/OpenSans-Regular.ttf),
         url(../fonts/static/OpenSans-Light.ttf);
}

@font-face {
    font-family: "Open_Sans_bold";
    src: url(../fonts/static/OpenSans-Bold.ttf),
         url(../fonts/static/OpenSans-Medium.ttf);
}

@import url("https://p.typekit.net/p.css?s=1&k=zkj2jid&ht=tk&f=27034.27040.27042&a=164531715&app=typekit&e=css");

@font-face {
    font-family:"Marydale";
    src:url("https://use.typekit.net/af/3a9361/00000000000000007735b54c/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/3a9361/00000000000000007735b54c/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/3a9361/00000000000000007735b54c/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
    font-family:"Marydale_bold";
    src:url("https://use.typekit.net/af/a8ff5a/00000000000000007735b550/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/a8ff5a/00000000000000007735b550/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/a8ff5a/00000000000000007735b550/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
    font-family:"Marydale_black";
    src:url("https://use.typekit.net/af/5c2715/00000000000000007735b54e/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/5c2715/00000000000000007735b54e/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/5c2715/00000000000000007735b54e/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:900;font-stretch:normal;
}

body {
    font-family: "Marydale", Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open_Sans", Arial, Helvetica, sans-serif;
    display: block;
    margin: 0 auto;
    max-width: 49ch;
    width: 30%;

    position: absolute;
    text-align: center;
    z-index: 90;
}

pre {
    font-family: "Marydale", "Open_Sans", Arial, Helvetica, sans-serif;
    font-size: larger;
}

p {
    display: block;
    margin: 0 auto;
    max-width: 98vw;
    position: absolute;
    z-index: 80;
}

.vector-image {
    display: block;
    position: absolute;
}

.poster-main {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 0 auto;
    max-width: 3600px;
    width: 96vw;
    min-height: 450px;
    // background-image: url(../vectors/poster-2_full_background.svg);
    // background-repeat: no-repeat;
    // background-size: 96vw 140vw;
    // ^ We don't use background-image, since it's a lot harder to fit.
    // Instead we use a backround-vector displayed in the back. - Jon
    .background-vector {
        margin: 0 auto;
        position: absolute;
        width: 96vw;
        z-index: -100;
    }

    @media screen and (min-width: 1000px) {
        min-height: 800px;
    }

    @media screen and (min-width: 1200px) {
        min-height: 960px;
    }

    @media screen and (min-width: 1600px) {
        min-height: 1320px;
    }

    @media screen and (min-width: 2000px) {
        min-height: 1600px;
    }

    #heading {
        font-family: "Open_Sans_bold", Arial, Helvetica, sans-serif;
        color: darkblue;
        top: 10vw;
        left: 10vw;

        #heading-span {
            color: greenyellow;
        }
    }

    #subheading {
        top: 14vw;
        left: 10vw;
    }

    .area {
        margin: inherit;
        max-width: 3456px;
        width: 96vw;
        padding: 0;
    }

    .sun {
        display: block;
        position: absolute;
        width: 12vw;
        height: 12vw;
        top: 25vw;
        left: 30vw;
        border-radius: 82% 77% 76% 79% / 78% 81% 79% 78%;
        background-color: yellow;
        z-index: 10;
    }

    .moon-area {
        min-height: 25%;

        @keyframes moon_hover {
            0% {transform: translateY(0);}
            25% {transform: translateY(5%);}
            50% {transform: translateY(0);}
            75% {transform: translateY(-5%);}
            100% {transform: translateY(0);}
        }

        @keyframes star_rotation {
            0% {transform: rotate(0deg);}
            25% {transform: rotate(20deg);}
            50% {transform: rotate(0deg);}
            75% {transform: rotate(-20deg);}
            100% {transform: rotate(0deg);}
        }

        @keyframes star_blinking {
            0% {filter: brightness(100%);}
            25% {filter: brightness(75%);}
            50% {filter: brightness(100%);}
            75% {filter: brightness(125%);}
            100% {filter: brightness(100%);}
        }

        @keyframes star_combination {
            0% {
                transform: rotate(0deg);
                filter: brightness(100%);
            }
            25% {
                transform: rotate(20deg);
                filter: brightness(75%);
            }
            50% {
                transform: rotate(0deg);
                filter: brightness(100%);
            }
            75% {
                transform: rotate(-20deg);
                filter: brightness(125%);
            }
            100% {
                transform: rotate(0deg);
                filter: brightness(100%);
            }
        }

        .happy_moon {
            max-width: 720px;
            width: 22vw;

            top: 27vw;
            left: 62vw;

            animation: moon_hover 10s infinite;
        }

        .yellow_star {
            max-width: 180px;
        }

        #star_1 {
            width: 6vw;
            top: 22vw;
            left: 80vw;
            animation: star_combination 8s infinite;
        }

        #star_2 {
            width: 4vw;
            top: 30vw;
            left: 84vw;
            transform: rotate(270deg);  // Mirrors the star horizontally.
            animation: star_combination 8s infinite;
            animation-delay: -2s;
        }

        #app-use_paragraph {
            color: white;
            width: 28vw;

            top: 37vw;
            left: 4vw;
            font-size: x-large;
        }

        #car_paragraph {
            display: block;
            font-size: x-large;
            position: absolute;
            width: 80vw;

            top: 29vw;
            left: 15vw;

            path {
                fill: transparent;
            }
            
            text {
                fill: black;
            }
        }

        .car {
            max-width: 80vw;
            width: 43vw;

            top: 43vw;
            left: 33vw;
        }
    }

    .people-area {
        min-height: 25%;
        
        @keyframes pollution-floating {
            0% {transform: translateY(0);}
            25% {transform: translateY(10%);}
            50% {transform: translateY(0);}
            75% {transform: translateY(-10%);}
            100% {transform: translateY(0);}
        }
        @keyframes moving-people {
            0% {transform: translateX(0);}
            25% {transform: translateX(5%);}
            50% {transform: translateX(0);}
            75% {transform: translateX(-5%);}
            100% {transform: translateX(0);}
        }

        @keyframes combinedAnimation {
            0% {
                filter: grayscale(100%);
                transform: translateY(5);
            }
            50% {
                filter: grayscale(0%);
                transform: translateY(15%);
            }
            100% {
                filter: grayscale(100%);
                transform: translateY(-5);
            }
        }

        .pollution-face {
            width: 12vw; //Må se om dette blir riktig
            //width: 4vw;
        } 
        
        #pollution-face_1 {
            width: 3vw;
            left: 17vw;
            top: 81vw;
            animation: combinedAnimation 6s linear infinite;
        }

        #pollution-face_2 {
            width: 3vw;
            left: 28vw;
            top: 80vw;

            animation: pollution-floating 6s infinite;
            animation-delay: -3s;
        }

        #pollution-face_3 {
            max-width: 12vw;
            width: 4vw;
            top: 75vw;
            left: 32vw;
            //animation: pollution-floating 6s infinite;
            animation: combinedAnimation 6s linear infinite;
        }

        #pollution-face_4 {
            max-width: 12vw;
            width: 3vw;
            top: 84vw;
            left: 34vw;
            z-index: 10;
            animation: pollution-floating 6s infinite;
            animation-delay: -3s;
        }

        #pollution-face_5 {
            max-width: 12vw;
            width: 3vw;
            top: 78vw;
            left: 36vw;
            animation: pollution-floating 6s infinite;
        }

        #pollution-face_6 {
            max-width: 12vw;
            width: 3vw;
            top: 73vw;
            left: 43vw;
            animation: pollution-floating 6s infinite;
            animation-delay: -3s;
        }

        #pollution-face_7 {
            max-width: 12vw;
            width: 6vw;
            top: 72vw;
            left: 56vw;
            //animation: pollution-floating 6s infinite;
            animation: combinedAnimation 6s linear infinite;
        }

        #pollution-face_8 {
            max-width: 12vw;
            width: 4vw;
            top: 68vw;
            left: 73vw;
            animation: combinedAnimation 6s linear infinite;
            animation-delay: -3s;
        }

        #pollution-face_9 {
            max-width: 12vw;
            width: 3vw;
            top: 74vw;
            left: 75vw;
            animation: pollution-floating 6s infinite;
        }

        #pollution-face_10 {
            max-width: 12vw;
            width: 3vw;
            top: 70vw;
            left: 80vw;
            animation: pollution-floating 6s infinite;
            animation-delay: -3s;
        }

        #pollution-face_11 {
            max-width: 12vw;
            width: 3vw;
            top: 80vw;
            left: 82vw;
            animation: pollution-floating 6s infinite;
        }

        .person_with_phone {
            max-width: 25vw;
            width: 18vw;
        }

        #person_with_phone_1 {
            top: 80vw;
            left: 17vw;
            
            animation: moving-people 3s linear infinite;
        }

        #person_with_phone_2 {
            max-width: 14vw;
            top: 77vw;
            left: 40vw;
            
            animation: moving-people 3s linear infinite;
        }

        #person_with_phone_3 {
            top: 77vw;
            left: 63vw;

            animation: moving-people 3s linear infinite;
        }
    }

    .earth-area {
        min-height: 25%;

        h2 {
            display: block;
            font-family: "Marydale", Arial, Helvetica, sans-serif;
            font-size: xx-large;
            width: 40vw;
            top: 116vw;
            left: 32vw;
        }

        p {
            display: block;
            top: 93vw;
            left: 40vw;
        }

        .earth-surface {
            position: relative;

            &__text_1 {
                position: absolute;
                top: 106vw;
                left: 7vw;
            }

            &__text_2 {
                position: absolute;
                top: 95vw;
                left: 37vw;
            }

            &__text_3 {
                position: absolute;
                top: 120vw;
                left: 40vw;
            }

            &__text_4 {
                position: absolute;
                top: 98vw;
                left: 75vw;
            }

            &__text_5 {
                position: absolute;
                top: 124vw;
                left: 77.5vw;
            }
        }
    }
}
    
.footer-area {
    display: block;
    min-height: 20%;

    .NTNU-logo {
        width: 30vw; /* Adjust width as needed */
        top: 138vw;
        left: 5vw;
    }

    .footer-text {
        color: white;

        // Using some nested SCSS and BEM here. - Jon
        &__moon-trip {
            color: black;
            font-size: smaller;
            padding: 0;
            width: 98vw;
            top: 133.5vw;
            left: 5vw;

            &--2 {
                top: 135vw;
            }
        }

        &__poster {
            top: 139vw;
            left: 37vw;

            a {
                color: white;

                a:visited {
                    color: #92cfb8;
                }
            }
        }

        &__contact {
            top: 139vw;
            left: 71vw;
        }
    }
}

// Font-scaling for small screens
// At the end to overwrite if necessary.
@media screen and (max-width: 600px) {
    h1 {
        font-size: medium;
    }

    h2 {
        font-size: small;
    }

    p, pre {
        font-size: x-small;
    }

    pre {
        transform: translateX(-16vw);
    }

    .footer-area > p {
        font-size: xx-small;
    }
}
