@import url("https://p.typekit.net/p.css?s=1&k=zkj2jid&ht=tk&f=27034.27040.27042&a=164531715&app=typekit&e=css");
@font-face {
  font-family: "Open_Sans";
  src: url(../fonts/static/OpenSans-Regular.ttf), url(../fonts/static/OpenSans-Light.ttf);
}
@font-face {
  font-family: "Open_Sans_bold";
  src: url(../fonts/static/OpenSans-Bold.ttf), url(../fonts/static/OpenSans-Medium.ttf);
}
@font-face {
  font-family: "Marydale";
  src: url("https://use.typekit.net/af/3a9361/00000000000000007735b54c/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/3a9361/00000000000000007735b54c/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/3a9361/00000000000000007735b54c/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}
@font-face {
  font-family: "Marydale_bold";
  src: url("https://use.typekit.net/af/a8ff5a/00000000000000007735b550/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/a8ff5a/00000000000000007735b550/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/a8ff5a/00000000000000007735b550/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}
@font-face {
  font-family: "Marydale_black";
  src: url("https://use.typekit.net/af/5c2715/00000000000000007735b54e/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff2"), url("https://use.typekit.net/af/5c2715/00000000000000007735b54e/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff"), url("https://use.typekit.net/af/5c2715/00000000000000007735b54e/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
}
body {
  font-family: "Marydale", Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open_Sans", Arial, Helvetica, sans-serif;
  display: block;
  margin: 0 auto;
  max-width: 49ch;
  width: 30%;
  position: absolute;
  text-align: center;
}

p {
  display: block;
  max-width: 42ch;
}

.vector-image {
  display: block;
  position: absolute;
}

.poster-main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 3600px;
  width: 90%;
  min-height: 450px;
  background-image: url(../vectors/poster-2_full_background.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
@media screen and (min-width: 1000px) {
  .poster-main {
    min-height: 800px;
  }
}
@media screen and (min-width: 1200px) {
  .poster-main {
    min-height: 960px;
  }
}
@media screen and (min-width: 1600px) {
  .poster-main {
    min-height: 1320px;
  }
}
@media screen and (min-width: 2000px) {
  .poster-main {
    min-height: 1600px;
  }
}
.poster-main #heading {
  font-family: "Open_Sans_bold", Arial, Helvetica, sans-serif;
  color: darkblue;
  margin: 0 75% 0 20%;
  top: 10%;
}
.poster-main #heading #heading-span {
  color: greenyellow;
}
.poster-main #subheading {
  margin: 0 75% 0 20%;
  top: 15%;
}
.poster-main .area {
  margin: inherit;
  max-width: 3456px;
  width: 96%;
  padding: 0;
}
.poster-main .moon-area {
  min-height: 25%;
}
.poster-main .moon-area .happy_moon {
  max-width: 720px;
  width: 16%;
  top: 25%;
  left: 60%;
}
.poster-main .moon-area .yellow_star {
  max-width: 180px;
  width: 4%;
}
.poster-main .moon-area #star_1 {
  top: 20%;
  left: 75%;
}
.poster-main .moon-area #star_2 {
  top: 25%;
  left: 78%;
  transform: rotate(270deg);
}
.poster-main .moon-area #car_paragraph {
  margin: 0 75% 0 20%;
  max-width: 450px;
  width: 20%;
  top: 40%;
  left: 30%;
  font-size: x-large;
}
.poster-main .moon-area #car_paragraph strong {
  font-size: larger;
}
.poster-main .moon-area .car {
  max-width: 720px;
  width: 16%;
  top: 40%;
  left: 40%;
}
.poster-main .people-area {
  min-height: 25%;
}
.poster-main .people-area .pollution-face {
  max-width: 180px;
  width: 4%;
}
.poster-main .people-area #pollution-face_1 {
  max-width: 180px;
  width: 4%;
  left: 8%;
}
.poster-main .people-area #pollution-face_2 {
  max-width: 180px;
  width: 4%;
  left: 12%;
}
.poster-main .people-area #pollution-face_3 {
  max-width: 180px;
  width: 4%;
  left: 16%;
}
.poster-main .people-area #pollution-face_4 {
  max-width: 180px;
  width: 4%;
  left: 20%;
}
.poster-main .people-area #pollution-face_5 {
  max-width: 180px;
  width: 4%;
  left: 24%;
}
.poster-main .people-area .person_with_phone {
  max-width: 540px;
  width: 12%;
}
.poster-main .people-area #person_with_phone_1 {
  top: 40%;
  left: 30%;
}
.poster-main .people-area #person_with_phone_2 {
  max-width: 360px;
  width: 10%;
  top: 35%;
  left: 45%;
}
.poster-main .people-area #person_with_phone_3 {
  top: 40%;
  left: 55%;
}
.poster-main .earth-area {
  min-height: 25%;
}/*# sourceMappingURL=style.css.map */